body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.error-message {
    color: red;
    font-size: 12px;
    display: block;
    text-align: left;
    margin-top: -8px;
    margin-left: 9px;
    margin-bottom: 10px;
}
.error-messagem{
    color: red;
    font-size: 12px;
    display: block;
    text-align: left;
    margin-top: -8px;
    margin-left: 9px;
    margin-bottom: 10px;
}
button {
    width: 100%;
    padding: 5px;
    background-color: #007BFF;
    border: none;
    color: white;
    border-radius: 18px;
    transition: .5s;
    margin-bottom: 15px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #000000;
    font-size: 17px;
}

.link-container {
    margin-top: 15px;
}

.link-container a {
    text-decoration: none;
    transition: .5s;
    color: #007BFF;
}
.link-container a:hover {
    color: #0056b3;
    font-size: 18px;

}